extends layout

block content
    div(name="board" class="row" id= boardId)
            div(id="sidebar" class = "mustardcol col s1 pink lighten-4") Tools
                button(id="save" class="btn-flat blue-text" onClick="save()") save
                div(id="toolbox" class="hide")
                    button(id="cancel" class="btn-flat" onClick="deselect()") cancel
                    input(id="toolTitle" type= "text" name="toolTitle")
                    label(for="toolTitle") Title
                    button(id="titleBtn" class="" onclick="invokeTitle()") Change Title
                    input(id="toolContent" type= "text" name="toolContent")
                    label(id="contentLabel" for="toolContent") Content
                    button(id="contentBtn" class="" onclick="invokeContent()") Change Content
                    button(id="delete" class="hide" onclick="deleteItem()") Delete
                div(id="colorBox" class="col s2 hide")
                    button(id="white" class="btn-small white black-text" value="white" onclick="addColor(this.value)") White
                    button(id="green" class="btn-small green" value="green" onclick="addColor(this.value)") Green
                    button(id="yellow" class="btn-small yellow black-text" value="yellow" onclick="addColor(this.value)") Yellow
                    button(id="red" class="btn-small red" value="red" onclick="addColor(this.value)") Red
                div(id="generalTools")
                    button(id="newTicket" class="btn-flat" onClick="newTicket()" class="hide") New Ticket
                    button(id="newLane" class="btn-flat" onClick="newLane()") New Lane
            div(id="content-stuff")
                each lane in lanes
                    div(id= lane.id class="mustardcol col s1 rowlette" onpointerdown="select(this.id)" onpointerup="resetPointer()")
                        h9(id="title")= lane.title
                        each ticket in lane.tickets
                            div(id=ticket class="ticlette lighten-2" onpointerdown="select(this.id)" onpointerup="resetPointer()")
    script(src="/js/edit.js")
