extends layout

block content
    head
        title= title

    body
        div(class="row")
                div(id="sidebar" class = "mustardcol col s1 pink lighten-4") GUUGAGS
                div(id="content" class = "mustardcol col s11")
                    h1= messeage