extends layout

block content
    div(class= "mustardcol centered container row s4")
        h4(class= "centered") Your Kans
        button(id="create-new" class= "centered btn waves-effect waves-dark") New Board
        div(id="creator" class="hide")
            form(action="createNew" id="createNew" class="col s2")
                label(for= "name") Board Name
                input(type= "text" name= "name" id= "name" required)
                button(class= "btn" type= "submit") create
        table(class="centered highlight s2")
            tr(id="board-list")
                each board in boards
                    tr
                    td= board["title"]
                    td
                        button(id= "index" class = "btn waves-effect waves-dark" value= board["id"]  onclick= "showBoard(this.value)" ) View
                        button(id= "index" class = "btn waves-effect waves-dark" value= board["id"]  onclick= "nukeBoard(this.value)" ) Delete
    script(src="/js/kanview.js")