doctype html
html
    head
        title= "KanBanAnAMan"
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css")
        //script(src="/js/users.js")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="/stylesheets/style.css" type="text/css")
    body
        div(class="navbar-fixed")
            nav
                div(class = "nav-wrapper blue-grey darken-3 ")
                    ul()
                        if puguser
                            li: p(id="username")= puguser
                        if puguser
                            li: a(href="/kanban/list" id="boards") Boards
                        unless puguser
                            li: a(href="/user/login" id="login") Login
                        if puguser
                            li: a(href="/user/logout" id= "logout") Logout
        div(id="viewcont")
            block content
        script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js")
    footer
        div()
            p()
